$btn-green : #2ea967;
$btn-green-border:#289a5d;
$btn-green-hover : #36ba73;
$btn-green-active : #23b58f;
$btn-disable : #23b58f;
$btn-grey:#e5ebed;
$btn-grey-color:#618894;
$btn-blue:#0094e7;
$btn-blue-border:#0072b3;
$btn-blue-hover:#0085d0;
$btn-blue-active:#0079bd;

$border-color:#e4e4e4;
$shadow-color:#e2e6e8;
$bg-color:#f2f4f5;
//layer
$index-super:200;
$index-hign:100;
$index-mid: 50;
$index-low: 10;


$blue: #38baf8;
$link-red:#ff5454;
$yellow: #ffc62c;

$base:#444444;
$font-wight:#000000;
$font-light:#888888;
